<!DOCTYPE html>
<html>
  <head>
    <title>Namaste Nepal</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="jumbotron text-xs-center bg-white">
      <h1 class="display-3">Thank You!</h1>
      <p class="lead">
        <strong>You have verified your email</strong> please Login to continue.
      </p>
      <hr />
      <p>Having trouble? <a href="#">Contact us</a></p>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="/login/" role="button"
          >Continue to Login</a
        >
      </p>
    </div>
  </body>
</html>
