<div class="ui basic borderless menu">
    {% load staticfiles %}
    <div class="item">
    <a href="/">  <img class="ui middle aligned avatar image" src="{% static 'media/namaste.c2b9bced.png' %}" >NamasteNepal</a>
    <!-- <span style="color:red">[Beta]</span> -->

    </div>
    <div class="right menu">
    <a class="item" href="/login">
    <img class="ui avatar image" src="{% static 'media/login.d237a690.png' %}">Login
    </a>
    <a class="item" href="/signup">
    <img class="ui avatar image" src="{% static 'media/signup.92a968a4.png' %}">Signup
    </a>
    </div>


</div>
