{% extends 'legal/master.html' %} {% block content %}
<div class="ui main text container">
  <h1 class="ui header">Offline</h1>
  <p></p>
</div>

<div class="ui borderless main menu">
  <div class="ui text container">
    <div class="header item">
      <a href="/"
        ><img class="logo" src="{% static 'img/icons/android-icon-48x48.png' %}"
      /></a>
      NamasteNepal
    </div>
  </div>
</div>

<div class="ui text container">
  <div class="overlay">
    <div class="ui labeled icon vertical menu">
      <a class="item" href="/">Chautari</a>
    </div>
  </div>

  <center><h5>Yo are OFFLINE</h5></center>
</div>
{% endblock %}
